<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Daftar pilihan restoran terbaik yang cocok untuk semua kalangan">
  <meta name="theme-color" content="#5F7470"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.ico">
  <link rel="manifest" href="./app.webmanifest">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Our Restaurant Apps</title>
</head>
<body>
  <div id="body_container">
    <a tabindex="1" aria-label="Tombol menuju ke konten utama" class="skip-link">Menuju ke konten Website</a>
    <header class="header">
      <div class="header_inner">
        <img src="./images/Logo/logo-1.png" class="header_item" alt="Logo Our Restaurant">
        <h1 class="header_item">Our Restaurant Apps</h1>
      </div>
      <nav  id="drawer" class="nav">
        <ul  class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/like">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/muhammad-bachtiar-93b861222">About Us</a></li>
        </ul>
      </nav>
      <a tabindex="2" id="menu" aria-label="Tombol Buka Tutup Menu Navigasi" class="header__menu">☰</a> 
    </header>   
  
    <main id="kontenutama"></main>
    <footer>  
      <p><i>Copyright 2022</i> All rights reserved - Our Restaurant Apss | Design by Muhammad Bachtiar </p>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Term of Use</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>
